{% extends "ecom/base.html"%}
{% load static %}
{% block title %}Home{% endblock %}

{%block content%}

<div class="container pt-4">
    <div class="card bg-light mx-auto" style="max-width: 600px;">
        <div class="card-header bg-primary text-light">
            <h1 class="text-white">{{product.title}}</h1>
            <span class="badge bg-dark">{{product.category.name}}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{product.images.url}}" width="100%" class="rounded" />
                </div>
                <div class="col-md-6">
                    <h5 class="text-muted">Brand: {{product.brand}}</h5>
                    <h5 class="text-muted">Price: Rs {{product.price}}</s></h5>
                    <h5 class="text-muted">volume: {{product.volume}} l</h5>
                    <h5 class="text-muted">Alcohol: {{product.alcohol}}%</h5>
                    
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p class="text-secondary">{{product.description|slice:":355"}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success btn-block">Back to Home</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button type="submit" value="Add to Cart" class="btn btn-primary btn-block">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}